// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$text-dark:				#252525;
$text-light:			#A9A9A9;

$palfest-red:			#ec0404;
$palfest-green:			#7c7c1b;
$palfest-bg:			#fbfbf8;

// Breakpoints
$screen-sm-min: 576px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 992px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1200;
$screen-lg-max: ($screen-xl-min - 1);

// Homepage cover image heights
$xs-homepage-image-height: 600px;
$sm-homepage-image-height: 870px;
$md-homepage-image-height: 900px;
$lg-homepage-image-height: 800px;
$xl-homepage-image-height: 1200px;