/* -- Style navbar  -- */

.navbar-light{

	background-color: #fdfffe;
    
	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: $palfest-red; 

	.container{
		margin-left: 35px;
		margin-right: 35px;
	}
}


/*-- Style main menu --*/
.palfest-main-menu{
	

	font-size: 25px; 
	padding-top: 20px;

	li{
		padding-bottom: 25px;
	}

	a{
		color: $text-dark;
	}
	a:hover{
		text-decoration: none;
	}
		a:focus{
		text-decoration: none;
	}

}

/* -- Styling for language selector for wpml multi language plugin 
		the version of wpml used when this was written is 3.6.3 --*/

	.wpml-ls-item-ar{
		text-align: right;
		a{
			color: $text-light;
		}
	}

	.wpml-ls-item-en{
		text-align: left;
		a{
			color: $text-light;
		}
	}

/*  --- Style humberger menu button  -- */

.navbar-toggler{
width: 40px;
height: 40px;

background: url(../images/hamburger_icon.svg);
background-repeat: no-repeat;
background-position: center; 

border: none;

}

.hamburger{
 text-align: center;
 padding-top: 34px;
}




