/* -- Style navbar  -- */

.navbar-light{

	background-color: #fdfffe;
    
	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: $palfest-red; 

	.container-fluid{
		margin: 0px;
	/* -- format fluid container from md (above 992 px - desktop) expand the whole navbar -- */
		@media (min-width: 992px) {
			width: 100%;
		}
	} 
}



.navbar-brand{
	text-align: center;

}



/*-- Style main menu --*/
.palfest-main-menu{
	

	font-size: 25px;

	padding-top: 25px; 
	padding-right: 20%;
	padding-left: 20%;

	li{
		padding-bottom: 25px;
	}

	a{
		color: $text-dark;
	}
	a:hover{
		text-decoration: none;
	}
		a:focus{
		text-decoration: none;
	}

}

/* -- Styling for language selector for wpml multi language plugin 
		the version of wpml used when this was written is 3.6.3 --*/

	.wpml-ls-item-ar{
		text-align: center;
		padding-top: 15px;
		a{
			color: $text-light;
		}
	}

	.wpml-ls-item-en{
		padding-top: 15px;
		text-align: center;
		a{
			color: $text-light;
		}
	}

/*  --- Style humberger menu button  -- */

.navbar-toggler{
width: 40px;
height: 40px;

background: url(../images/hamburger_icon.svg);
background-repeat: no-repeat;
background-position: center; 

border: none;

}

.hamburger{
 text-align: center;
 padding-top: 34px;
}




