/* -- Style navbar  -- */

.navbar-light{

	background-color:  #fdfffe;
    
	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: $palfest-red; 
	padding-bottom: 0px;

	.container-fluid{
		margin: 0px;
	/* -- format fluid container from md (above 992 px - desktop) expand the whole navbar -- */
		@media (min-width: $screen-lg-min) {
			width: 100%;
			padding-bottom: -10px;
		}
	} 
}

.navbar-brand{
	text-align: center;

}



/*-- Style main menu --*/

.menu-main-container, .menu-main-ar-container{

	@media (min-width: $screen-lg-min) { 
		width:100%; 
		 }
	
}

.palfest-main-menu{
	

	font-size: 25px;
	:lang(ar){
		font-size: 26px;
	}

	padding-top: 25px; 

	@media (min-width: $screen-lg-min) {
		font-size: 18px;
		:lang(ar){
			font-size: 20px;
		}
		padding-top: 5px;
	
	 }

	li{
		max-width: 475px;
		padding: 15px;
	
		@media (min-width: $screen-lg-min) { 

			text-align: center; 
			padding-left: 3px;
			padding-right: 3px;

		}
	}

	a{
		color: $text-dark;
	}
	a:hover{
		text-decoration: none;
	}
		a:focus{
		text-decoration: none;
	}


}


// highlight selected menu item and it's parent
.current-menu-item{
  			
            background-color: $palfest-red !important;
            a{
            	color:$palfest-bg!important;
            }
        }


        // .menu-item{
        // 	            a{
        //     	color:$text-dark;
        //     }
        // }

  .current-menu-parent{
			
            background-color: $palfest-red !important;
            a{
            	color:$palfest-bg;
            }
             ul{
             	padding: 0;
				border-radius: 0px;
             	li{
             		a{
             			color:$text-dark;
             		}
             	}
             }
   
        }

/* -- Styling for language selector for wpml multi language plugin 
		the version of wpml used when this was written is 3.6.3 --*/

	.wpml-ls-item-ar{
		font-size: 22px;
		width: 100%;
		//text-align: center;
		padding-top: 0px;
		margin-top: -5px;

		@media (min-width: $screen-lg-min) { 
			padding-top: 0px;  
		};

		a{
			color: $text-light;
		}
	}

	.wpml-ls-item-en{
		:lang(ar){
		font-size: 18px;
		}
		width: 100%;
		padding-top: 15px;
		//text-align: center;

		@media (min-width: $screen-lg-min) { 
			padding-top: 0px;  
		};

		a{
			color: $text-light;
		}
	}

/*  --- Style humberger menu button  -- */

.navbar-toggler{
width: 40px;
height: 40px;

background: url(../images/hamburger_icon.svg);
background-repeat: no-repeat;
background-position: center; 

border: none;

}

.hamburger{
 text-align: center;
 padding-top: 34px;
}

/*  --- Style submenu menu button  -- */

//remove dropdown arrow
.dropdown-menu{
font-size: 18px;
margin-top:30px;
border: 0px;

 }


.dropdown-toggle:after{
	border:0px;
}

// - style dropdown menu
.dropdown-menu{
	@media (min-width: $screen-lg-min) { 
		margin-top: 3px;
		border-radius: 0px;
	}
}
