 /* -- Style front page --*/
 .front-page-container{
 	 .main
 	 {	
 	 	padding: 0px;
	 }
}
 #front-page{

 	max-width: 2000px;
 	@media (min-width: 2001px) { 
 		background-color:palfest-red;
	 	padding-left: calc(50% - 1000px);
	 	padding-right: calc(50% - 1000px);
	};

 	padding-top: 300px;
 	@media (min-width: $screen-md-min) { 
	 	padding-top: 365x;
	};

 	text-align: center;
 	font-size: 24px;
 	

 	a{
 		color: white;
 		background-color: $palfest-red;

 		padding-left:10px;
 		padding-right:10px;
 	}

 	// set vertical backgroud image for homepage (mobile first)

	 background-image: url("../images/palfest-home-vertical.jpg");
	 background-size: cover;

	 //set background image size for different devices

	 height: $xs-homepage-image-height;

	 @media (min-width: $screen-sm-min) {
			
	 		height: $sm-homepage-image-height;
		};

	@media (min-width: $screen-md-min) { 
	 		height: $md-homepage-image-height;
		};

	// set horizontal backgroud image for homepage (mobile first)
	@media (min-width: $screen-lg-min) { 
			background-image: url("../images/palfest-home-horizontal.jpg");
	 		height: $lg-homepage-image-height;
		};

	@media (min-width: $screen-xl-min) { 
	 		height: $xl-homepage-image-height;
		};

	
	/* img{
	 	margin:0 ;
	 	object-fit: cover;
		width: 100%;
	 } */

	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: $palfest-green; 

 }


  .homepage-mission{
  	margin-top: 20px;
 	margin-bottom: 40px;
 	//background-color: $palfest-green;

 }


 /* ----------- Style Page ---------------- */

 .page-header{
 	padding-top:35px;
 	padding-bottom:35px;
 }

 /*-- Style titles in patron's page --*/

 .col-md-6{
 	.h5, h5{
 		padding-top:40px;
 		@media (min-width: $screen-lg-min) { 
 			padding-top:100px;
 		}

 	}
 }

 /* -- style header page --*/
 .programme-day{
 	.h1, h1{
 	 		padding-top:40px;
 		@media (min-width: $screen-lg-min) { 
 			padding-top:100px;
 		}
	}
 }

 /* -- Style mission statement bg --*/

 .mission-page{
 	height: 500px;
 	background-image: url("../images/mission-bg.jpg");
	background-size: cover;

 }

 /*-- style Photos & Videos pages --*/

 .photos-title{
 	text-align: center;
 	padding: 10px;
 }
 .photos-content{
 	padding-bottom: 20px;
 }

  .videos-title{
 	text-align: center;
 	padding: 10px;
 }
  .videos-content{
 	padding-bottom: 20px;
 }

 /* --  palfestivian profile page --*/

.profile-image{
	@media (max-width:$screen-md-max){
		text-align: center;
}
	padding: 30px;


}


.profile-title{
	padding-top: 30px;
}
.related-articles-title{
	padding:30px;
}

.related-articles-item{
	padding:30px;
}

/* -- Palfestivians list page --*/
.palfestivians-thumb{
	padding-top: 30px;
text-align:center;
}

.palfestivians-title{
	padding-top:30px;
@media (max-width:$screen-md-max){
text-align: center;
padding-top: 10px;
}

}

/*-- articles --*/

.article-title{
	padding-top: 30px;
	padding-bottom: 30px;
}
.related-profiles-title{
		padding-top: 30px;
	padding-bottom: 30px;
}
