 /* -- Style front page --*/
 .front-page-container{
 	 .main
 	 {	
 	 	padding: 0px;
	 }
}
 #front-page{

 	max-width: 2000px;
 	@media (min-width: 2001px) { 
 		background-color:palfest-red;
	 	padding-left: calc(50% - 1000px);
	 	padding-right: calc(50% - 1000px);
	};

 	padding-top: 300px;
 	@media (min-width: $screen-md-min) { 
	 	padding-top: 365x;
	};

 	text-align: center;
 	font-size: 24px;
 	

 	a{
 		color: white;
 		background-color: $palfest-red;

 		padding-left:10px;
 		padding-right:10px;
 	}

 	// set vertical backgroud image for homepage (mobile first)

	 background-image: url("../images/palfest-home-vertical.jpg");
	 background-size: cover;

	 //set background image size for different devices

	 height: $xs-homepage-image-height;

	 @media (min-width: $screen-sm-min) {
			
	 		height: $sm-homepage-image-height;
		};

	@media (min-width: $screen-md-min) { 
	 		height: $md-homepage-image-height;
		};

	// set horizontal backgroud image for homepage (mobile first)
	@media (min-width: $screen-lg-min) { 
			background-image: url("../images/palfest-home-horizontal.jpg");
	 		height: $lg-homepage-image-height;
		};

	@media (min-width: $screen-xl-min) { 
	 		height: $xl-homepage-image-height;
		};

	
	/* img{
	 	margin:0 ;
	 	object-fit: cover;
		width: 100%;
	 } */
 }