


.related-profiles-in-day-title{
padding: 30px;
}

.related-profiles-in-day-item{
	padding: 20px;
}

.programme-day{
	padding-top: 40px;
}

.container-fluid{
	padding:0px;
}

.main{
	padding:0px;
}

.palfest-content{
	padding: 40px;
	max-width: 900px;
	margin-left: auto;
	margin-right:  auto;
}

.mission-wrap{
	min-height:100vh;
}

 /* -- Style front page --*/
 .front-page-container{
 	 .main
 	 {	
 	 	padding: 0px;
	 }
}
 #front-page{
 	margin-left:auto;
 	margin-right:auto;

 	//max-width: 2000px;
 	@media (min-width: 2001px) { 
 		//background-color:palfest-red;
	 	padding-left: calc(50% - 1000px);
	 	padding-right: calc(50% - 1000px);
	};

 	padding-top: 300px;
 	@media (min-width: $screen-md-min) { 
	 	padding-top: 365x;
	};

 	text-align: center;
 	font-size: 24px;
 	

 	a{
 		color: white;
 		background-color: $palfest-red;

 		padding-left:10px;
 		padding-right:10px;
 	}

 	// set vertical backgroud image for homepage (mobile first)

	 background-image: url("../images/palfest-home-vertical.jpg");
	 background-size: cover;

	 //set background image size for different devices

	 min-height: $xs-homepage-image-height;

	 @media (min-width: $screen-sm-min) {
			
	 		min-height: $sm-homepage-image-height;
		};

	@media (min-width: $screen-md-min) { 
	 		min-height: $md-homepage-image-height;
		};

	// set horizontal backgroud image for homepage (mobile first)
	@media (min-width: $screen-lg-min) { 
			background-image: url("../images/palfest-home-horizontal.jpg");
	 		min-height: 100vh;
		};

	@media (min-width: $screen-xl-min) { 
	 		min-height:100vh;
		};

	
	/* img{
	 	margin:0 ;
	 	object-fit: cover;
		width: 100%;
	 } */

	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: $palfest-green; 

 }


  .homepage-mission{
  	margin-top: 20px;
 	margin-bottom: 40px;
 	//background-color: $palfest-green;

 }


 /* ----------- Style Page ---------------- */

.container{

}

 .page-header{
 	padding-top:35px;
 	padding-bottom:35px;
 }


 /*-- Style titles in patron's page --*/

 .col-md-6{
 	.h5, h5{
 		padding-top:40px;
 		@media (min-width: $screen-lg-min) { 
 			padding-top:100px;
 		}

 	}
 }

 /* -- style header page --*/
 // .programme-day{
 // 	.h1, h1{
 // 	 		padding-top:40px;
 // 		@media (min-width: $screen-lg-min) { 
 // 			padding-top:100px;
 // 		}
	// }
 // }

 /* -- Style mission statement bg --*/

 .mission-page{
 	min-height: 500px;

 }

 /*-- style Photos & Videos pages --*/

 // .photos-title{
 // 	text-align: center;
 // 	padding: 10px;
 // }
 // .photos-content{
 // 	padding-bottom: 20px;
 // }

 //  .videos-title{
 // 	text-align: center;
 // 	padding: 10px;
 // }
 //  .videos-content{
 // 	padding-bottom: 20px;
 // }

 /* --  palfestivian profile page --*/

.profile-image{
	@media (max-width:$screen-md-max){
		text-align: center;
}
	padding: 30px;


}


.profile-title{
	padding-top: 30px;
}
.related-articles-title, .related-days-title{
	padding:15px;
}

.related-articles-item, .related-days-item{
	padding:15px;
}

/* -- Palfestivians list page --*/
.palfestivians-thumb{
	padding-top: 30px;
text-align:center;
}

.palfestivians-title{
	padding-top:30px;
@media (max-width:$screen-md-max){
text-align: center;
padding-top: 10px;
}

}

/*-- articles --*/

.article-title{
	padding-top: 30px;
	padding-bottom: 30px;
}
.related-profiles-title{
		padding-top: 30px;
	padding-bottom: 30px;
}
