
/* style humberger menu button */
.navbar-toggler{
width: 40px;
height: 40px;

background: url(../images/hamburger_icon.svg);
background-repeat: no-repeat;
background-position: center; 

border: none;

/* code to vertically center hamberger menu */
top: 50px;
transform: translateY(-50%);

}

/* get rid of blue focus border on chrome for hamberger menu button
/*
.navbar-toggler:focus{
outline:0;
} */


/* style navbar menu */

.navbar-light{

	background-color: #fdfffe;
    
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
	border-bottom-style: solid;
    border-bottom-width: 3px;
	border-bottom-color: #fe0000; 
}

@media (max-width: 575px) {
.navbar-toggler{
    right: -50%;
}

}